.contenedorsignup{
   
        margin-top: 100px;
        display: block;
        align-items: center;
        justify-items: center
        
    }
    body{
    background-image: (url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRbKNdocNAFOYNYACFvAb_0m_LaZpXf9gv_xQ&usqp=CAU))    
    }
